html, body, #game-container {
  margin: 0;
  padding: 0;
}
#game-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-container>canvas {
  border-radius: 5px;
}

.dungeon {
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  padding: 20px;
  margin: 20px;
  border: 10px solid #e2e2e2;
  background-color: #fefefe;
  font-size: 15px;
  line-height: 0.7;
}
